@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-lg-4">Library Management System</h1>
    <p>Learn about <a href="https://www.melihseyhan.com/">Melih</a></p>
</div>
